---
import {Image} from 'astro:assets';
import Menu from '../components/Menu.astro';
import Base from '../layouts/Base.astro';
import asteroidExcavator from '../images/pala-asteroide.png';
import earthShip from '../images/nave-tierra.png';
import miningTower from '../images/castillete.png';
import moais from '../images/moais.png';
import '../styles/comun.css';
import '../styles/colors.css';
import '../styles/columnas.css';

const base = import.meta.env.BASE_URL;
const { title, color = "azulon", background = "arena" } = Astro.props;
---

<Base title="About Monforte Technologies" color="azulon" background="arena" lang="en" name="about">
  <Menu slot="menu">
    <!--<a class="menulink" href={`${base}blog`}>Blog</a>-->
    <a class="menulink" href={`${base}minax`}>Minax Projectx</a>
  </Menu>

  <div class="about-wrapper">
    <div class="remark"></div>

    <div class="fila">
      <div class="columna1">
        <h2>Vision</h2>
        <p>Human development, largely enabled by mining which has provided vast amounts of material and energy resources, is now threatened by a series of phenomena—especially the depletion of non-renewable resources and climate warming—both of which are global in scale and have dire forecasts.</p>

        <p>Many voices call for halting development to minimize the impact of industrial activity on Earth, but from our perspective, the situation is too far advanced. The only viable option to stop and reverse it is planetary-scale engineering. For that, resource extraction must be increased to levels that enable processes capable of reversing human-driven climate effects.</p>
      </div>
      <Image class="ilustracion" src={asteroidExcavator} alt="Excavating an asteroid" />
    </div>

    <div class="fila">
      <Image class="ilustracion" src={earthShip} alt="Spaceship approaching Earth" />
      <div class="columna2">
        <h2>Mission</h2>
        <p>To achieve this goal, our only option is to advance technology so that our civilization reaches the required development level through the exploitation of Earth and near-space resources as soon as possible.</p>

        <p>To do so, we believe it's essential to give machines the autonomy to operate in environments where humans cannot reach—such as deep within the Earth's crust, the ocean floor, and outer space. To achieve this autonomy, the extractive processes must be fully robotized.</p>

        <p>It is in this effort that Monforte Technologies focuses its activity, aiming to unify efforts from academia, industry, and the internet in creating a series of tools that simplify, as much as possible, the robotization of mining operations.</p>
      </div>
    </div>

    <div class="fila">
      <div class="columna1">
        <h2>Values</h2>
        <p>Global issues threaten to split the world in two, raising a new iron curtain and setting the stage for a third world war over dwindling resources, while billions of lives face hunger and thirst.</p>

        <p>Faced with this bleak outlook, it is essential to take a stand against militaristic dynamics and advocate for industrial development beyond Earth's orbit—seeking in satellites, asteroids, and comets the resources that are vanishing from our planet’s surface, and which are essential for sustaining billions of lives.</p>

        <p>The artificial intelligence revolution arrives just in time for a humanity that will need every last available resource to avoid drifting in the Sargasso Sea of time.</p>
      </div>
      <Image class="ilustracion" src={moais} alt="Moais from the industrial era" />
    </div>

    <div class="about">
      <h2>About the Founder</h2>
      <p>This is the professional project page of Jorge Monforte González, a Mining Engineer who chose to focus on the fields of artificial intelligence and robotics. He has also specialized in cybersecurity, Linux systems and web programming, with the aim of bringing the AI technological revolution into mining operations and their associated industries.</p>
    </div>
  </div>
</Base>

<style>
.about {
  text-align: justify;
}
</style>

