---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import volqueteRobotizado from '../images/volquete.png';
import mineroOrdenador from '../images/minero-ordenador.png';
import robotMinero from '../images/robot-mina.png';
import centroDeDatos from '../images/datos-bajo-tierra.png';
import Horizontal from '../components/logos/Horizontal.astro';
import Apilado from '../components/logos/Apilado.astro';
import '../styles/home.css';

---

<Layout title="Welcome to Monforte Technologies" color="azulon" background="arena">
  <div class="remark">Nuestro objetivo es ofrecer una estrategia unificada frente a los retos que presenta la digitalización de las labores mineras, empleando para ello tecnologías abiertas.</div>

<div class="fila">
  <Image src={volqueteRobotizado} alt="Minero trabajando con su ordenador" width={432} />
  <div class="columna2">
    <h2>Visión</h2>

        <p>El desarrollo de la humanidad que se debe en gran medida al avance en la minería que ha puesto a su disposición una cantidad ingente de recursos, materiales y energéticos, se ve amenazado ahora por una serie de fenómenos, especialmente el agotamiento de estos recursos y el calentamiento climático, de escala global y de terrible pronóstico</p>


      <p>Muchas voces piden frenar el desarrollo para intentar minimizar el impacto de la actividad industrial en la tierra, pero desde nuestro punto de vista el fenómeno está demasiado avanzado y la única opción viable es la ingeniería planetaria: hay que escalar la extracción de recursos a niveles que permitan crear procesos que reviertan los efectos sobre el clima de la actividad humana.</p>

    <h2>Misión</h2>
      <p>Con este objetivo nuestra única opción consiste en avanzar la tecnología hasta lograr que nuestra civilización alcance el Tipo I dentro de la escala Kardashov lo más pronto posible, iniciando también la indstrialización del espacio próximo.</p>
      <p>Para lograrlo es necesario dotar de autonomía a nuestras máquinas para que sean capaces de operar en ambientes a donde los humanos no podamos llegar, principalmente, la corteza profunda, el fondo de los oceanos y el espacio y esa autonomía requiere de una digitalización completa de los procesos extractivos.</p>
  </div>
</div>

<div class="fila">
    <div class="columna1">
      <h2>Integramos TIC y Minería</h2>
      <h3>Software</h3>
      <p>La idea es desplegar todo el software que corra dentro de la mina desde unos repositorios centralizados que mediante la autorización criptográfica puedan instalarse de forma segura. Para ello proveeremos de un repositorio de software (<a href="">Proyecto Minax</a>) que contenga el software de uso común en minería, pudiendo la propiedad añadir otros repositorios en la medida de sus necesidades.</p>


      <h3>Hardware</h3>
      <p>Asistimos a las empresas de hardware en la creación de dispositivos válidos para la informatización de las labores mineras, ya que estas presentan una serie de requisitos tanto funcionales como ambientales muy exigentes y al centralizar las labores de integración estamos en una posición ventajosa para hacerlo.</p>

      <h3>Comunicaciones</h3>
      <p>A partir de los requerimientos funcionales del sistema informático y la dirección facultativa y utilizando como base el protocolo de comunicaciones IPv6 buscaremos la manera de tener todos los dispositivos digitales conectados, monitorizados y actualizados.</p>
    </div>
    <Image src={centroDeDatos} alt="Centro de datos bajo tierra" width={432}/>
  </div>

<div class="fila">
  <Image src={mineroOrdenador} alt="Minero trabajando con su ordenador" width={432} />
  <div class="columna2">
  <h2>Gestionamos Todo el Ciclo de Vida del Software</h2>

  <h3>Desarrollo</h3>

      <p>Cara al desarrollo de software seguimos la filosofía ágil que se adapta muy bien a las herramientas y otros flujos de trabajo del mundo tecnológico. Hemos escogido la pila formada por los lenguajes de programación C, C++ y Python como base para nuestras soluciones lo que nos permite el desarrollo rápido de aplicaciones de alto rendimiento.</p>

  <h3>Seguridad</h3>
      <p>La seguridad es un criterio de primer nivel en nuestros desarrollos, buscando aplicar sistemas de confianza cero en nuestros sistemas. Gestionamos integramente todas las facetas de la ciberseguridad como un proceso de mejora contínua buscando en todo momento tener nuestras soluciones actualizadas y verificadas.</p>

  <h3>Operaciones</h3>
      <p>Automatizamos todo el ciclo de vida del software desde su desarrollo, testeo, empaquetamiento, distribución, instalación, monitorización y mantenimiento, usando para ello un puñado de herramientas versátiles que nos permiten abarcar trabajos a gran escala con una infraestructura mínima sacando el mayor partido posible de cada herramienta.</p>
  </div>
</div>


<div class="fila">
  <div class="columna1">
      <h2> Aplicamos Tecnologías Disruptivas</h2>
      <p>
      <h3>Robotización Autónoma</h3>

      <p>El desarrollo de hardware y software que permite dotar a la maquinaria de una percepción de su entorno anuncia una era de máquinas que no necesitan de operarios humanos para poder llevar a cabo su cometido. Si bien esta cuestión no está completamente resuelta si se tienen los indicios suficientes de como integrar los sistemas informáticos que lo permitan.</p>

      <h3>Internet de las Cosas</h3>

      <p>Las posibilidades que proporcionan la miniaturización y abaratamiento del hardware en los entornos mineros son enormes pero conllevan un incremento en la complejidad de los sistemas de control que requiere una sistematización que abarca todo el ciclo de vida de uso de estos dispositivos.</p>

      <h3>Inteligencia Artificial</h3>

      <p>La generación y uso de modelos construidos mediante técnicas de aprendizaje automático y otras tecnologías del campo del soft-computing están revolucionando todos los ámbitos de la actividad humana. Nuestra apuesta es asistir a las empresas mineras en todo el ciclo de vida de este tipo de aplicaciones tecnológicas.
  </div>
  <Image src={robotMinero} alt="Robot antropomorfo con un pico en una mina" width={432} />
</div>
</Layout>

<style>


img {
  width: 48%;
  height: auto;
}

.remark {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 2em;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.columna1 {
  width: 48%;
  margin-bottom: 4em;
}

.columna2 {
  width: 48%;
  margin-bottom:2em;
}

.columna1 p, .columna2 p {
  text-align: justify;
  hyphens: auto;

}

</style>
