---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import {Image} from 'astro:assets';
import minerComputer from '../images/minero-ordenador.png';
import miningRobot from '../images/robot-mina.png';
import undergroundDataCenter from '../images/datos-bajo-tierra.png';
import LogoHorizontal from '../components/logos/Horizontal.astro';
import LogoApilado from '../components/logos/Apilado.astro';
import '../styles/comun.css';
import '../styles/colors.css';
import '../styles/columnas.css';

const base = import.meta.env.BASE_URL;
---

<Layout title="Monforte Technologies" color="azulon" background="arena" lang="en" name="">
    <Menu slot="menu">
      <a class="menulink" href={`${base}about`}>About</a>
      <a class="menulink" href={`${base}blog`}>Blog</a>
      <a class="menulink" href={`${base}minax`}>Project Minax</a>
    </Menu>
    <LogoHorizontal  color="azulon" slot="title" />
    <LogoApilado  color="azulon" slot="title" />

    <div class="remark">Our goal is to support the full robotization of mining activities by providing open software solutions that drive the digitalization of extraction companies’ operations.</div>

<div class="fila">
    <div class="columna1">
      <h2>We Integrate ICT and Mining</h2>
      <h3>Software</h3>
      <p>We will provide our clients and users with curated software repositories via the Internet, selected to meet the needs of the extractive industry. These will be based on open-source distributions and enhanced with custom-developed programs tailored to common and specific mining use cases.</p>

      <h3>Hardware</h3>
      <p>We assist hardware companies in creating devices suitable for the computerization of mining operations, ensuring they meet both the software requirements and the demanding functional and environmental conditions.</p>

      <h3>Communications</h3>
      <p>Based on the functional requirements of the IT system and the communication needs of management, we deploy networks that keep personnel connected and all digital devices monitored, updated, and online.</p>
    </div>
    <Image class="ilustracion" src={undergroundDataCenter} alt="Underground data center" />
  </div>

<div class="fila">
  <Image class="ilustracion" src={minerComputer} alt="Miner working with a computer" />
  <div class="columna2">
  <h2>We Manage the Entire Software Lifecycle</h2>

  <h3>Development</h3>
      <p>We follow an agile development philosophy that fits well with modern tools and workflows. Our technology stack is based on C, C++, and Python, which allows us to quickly develop high-performance applications.</p>

  <h3>Security</h3>
      <p>Security is a top-tier concern in our development. We apply the zero-trust principle across our systems and manage all facets of cybersecurity as a continuous improvement process, aiming to keep our solutions constantly updated and verified.</p>

  <h3>Operations</h3>
      <p>We automate the entire software lifecycle—from development, testing, packaging, and distribution to installation, monitoring, and maintenance—using open and well-documented tools.</p>
  </div>
</div>

<div class="fila">
  <div class="columna1">
      <h2>We Apply Disruptive Technologies</h2>
      
      <h3>Autonomous Robotization</h3>
      <p>The development of hardware and software that allows machines to perceive their environment signals a new era where machinery can operate without human intervention. While not yet fully achieved, there are strong indications of how to integrate IT systems to enable this.</p>

      <h3>Internet of Things</h3>
      <p>Miniaturization and cost reduction in hardware bring vast possibilities to mining environments, but also increase the complexity of control systems. This demands a systematic approach that covers the entire lifecycle of these devices.</p>

      <h3>Artificial Intelligence</h3>
      <p>The generation and use of models based on machine learning and other AI technologies are revolutionizing every human activity. Our goal is to support mining companies throughout the entire lifecycle of these technological applications.</p>
  </div>
  <Image class="ilustracion" src={miningRobot} alt="Humanoid robot with a pickaxe in a mine" />
</div>
</Layout>

<style>
h1 {
  width: 740px;
  padding: 60px 0px 0px 20px;
  line-height: 1em;
}
</style>

