---
import Base from '../layouts/Base.astro';
import Menu from '../components/Menu.astro';
import {Image} from 'astro:assets';
import minax from '../images/minax.png';
import jumbo from '../images/jumbo.png';
import corta from '../images/corta.png';
import '../styles/comun.css';
import '../styles/colors.css';
import '../styles/columnas.css';

const base = import.meta.env.BASE_URL;
---
<Base title="MINAX Project" color="azulon" background="arena" lang="en" name="minax">
  <Menu slot="menu">
    <a class="menulink" href={`${base}about`}>About</a>
    <!--<a class="menulink" href={`${base}blog`}>Blog</a>-->
  </Menu>

<div class="about-wrapper">
    
    <div class="remark">A software distribution that covers the full range of common mining operations' needs, from embedded systems to data centers.</div>

  <div class="fila">
    <div class="columna1">
      <h2>Background</h2>
        <p>Currently, global raw material production is at historic highs due to the exploitation of large, highly productive deposits and very high overall energy production. Tools and machinery represent the culmination of an era of continuous development and improvement.</p>

      <p>However, the availability of global energy—especially oil, which is key to mining activity—is showing signs of decline, as fields appear to have passed their production peaks and new techniques like fracking offer little long-term optimism.</p>

      <p>In this less-than-promising context for raw material production, the artificial intelligence revolution emerges, promising to significantly boost mining productivity by improving, in principle, two of its most crucial activities: extraction and material classification.</p>

      <p>But this requires large-scale computing in mining. That’s why we created this project—because we didn’t see any initiative of this kind and believe it’s a challenge best faced in a coordinated way.</p>
    </div>
    <Image class="ilustracion" src={jumbo} alt="Four-arm jumbo in a mine" />
  </div>

  <div class="fila">
      <Image class="ilustracion" src={minax} alt="Minax computer inside a mine" />
      <div class="columna2">
        <h2>Objective</h2>
        <p>Our goal is to provide mine managers and operators with the software components necessary to build IT systems that progressively bring autonomy to production processes—abstracting complexity as much as possible while providing comprehensive control.</p>

        <p>To achieve this, the project will provide a general architecture applicable to most mining operations, along with common and forward-looking use cases for IT in mining, plus the software and implementation guides required.</p>

        <p>For deployment, operation, and maintenance, we will apply the DevOps philosophy, which uses continuous integration and continuous deployment processes to simplify the management of complex software solutions.</p>

          <p>Although we don’t yet know what autonomous control systems might look like in the future, we do understand the needs of high-performance computing systems. This allows us to define an architecture—including physical, logical, and security requirements—that enables early adoption and accelerates future implementations.</p>
    </div>
  </div>

  <div class="fila">
    <div class="columna1">
      <h2>Scope</h2>
      <p>Although our open developments focus on automating mining and related industrial operations, the software will be freely available. Fix patches will be accepted, but feature requests outside this scope will not be considered by default.</p>

      <p>We will aim for the greatest common denominator in technological solutions, avoiding specific responses to isolated issues and instead seeking generality in the software we distribute.</p>

      <p>We will distribute software, pre-trained models, disk images, system recipes, and documentation. Beyond that, we will evaluate what additional topics might be of interest.</p>

      <p>Throughout the software lifecycle, we will ensure that it remains accessible to process engineers using it—it must be as transparent to them as the physical systems they control.</p>
    </div>
    <Image class="ilustracion" src={corta} alt="A robotized open-pit mine" />
  </div>

  <div class="fila-texto">
    <div class="columna-state">
      <h2>State as of 30/7/2025</h2>
      <p>We are starting with the feasibility analysis, reaching out to companies, schools, associations, and professional bodies that might be interested in the project, whose opinions will be of great value when determining the direction to take with it.</p>
  </div>
    <div class="columna-news">
      <h2>News</h2>
        <ul class="news">
          <li><span class="date">30/7/2025</span> Project Webpage published.</li>
        </ul>
  </div>
  </div>
</div>
<style>
</style>

