---
import Layout from './Layout.astro'
import Menu from '../components/Menu.astro';
import Icono2 from '../components/logos/Icono2.astro';
import '../styles/comun.css';
import '../styles/colors.css';
import '../styles/columnas.css';

interface Props {
	title: string;
    name: string;
	lang: string;
    color?: string;
    background?: string;
}

const { title, lang, name="none", color = "azulon", background = "arena" } = Astro.props;
const base = import.meta.env.BASE_URL;
const textColor = `var(--${color})`;
const backgroundColor = `var(--${background})`;
---
<Layout title={title} color={color} background={background} lang={lang} name={name}>

  <slot name="menu" slot="menu"/>
  <div class="header-bar" slot="title">
    <a href={`${base}`}><Icono2 color={color} width="100px"/></a>
    <h1>{title}</h1>
  </div>
  <slot />
</Layout>
<style define:vars={{ textColor, backgroundColor }}>

h1 {
}

div.title-thing {
  height: 100px;
  overflow: hidden;
}

div.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: 150px;
  width: calc(100% - 2em);
}

@media (600px <= width <= 900px) {
  div.header-bar {
    padding-left: 2em;
  }
}

@media (300px <= width <= 600px) {
  div.header-bar {
    padding-left: 2em;
  }
}

</style>

