---
import Horizontal from '../components/logos/Horizontal.astro';
import Menu from '../components/Menu.astro'

const { color = "azulon", background = "arena", visibleLogo = true } = Astro.props;
const textColor = `var(--${color})`;
const backgroundColor = `var(--${background}-oscuro)`;

---
<div class="header-wrapper">
  <header>
    <Menu color={color} visibleLogo={visibleLogo} />
    <Horizontal color={color} />
  </header>
</div>

<style define:vars={{ textColor, backgroundColor}}>

.header-wrapper {
  width: 100%;
  background: var(--backgroundColor);
}

header {
  width: 900px;
  height: 14em;
  margin: 0 auto 3em auto;
  padding: 2.5em 0 2em 0;
  color: var(--textColor);
}

.anagrama-header {

  }

</style>
