---
import '../styles/colors.css'
import '../styles/comun.css'
import Pie from './Pie.astro'
import Head from './Head.astro'

interface Props {
	title: string;
    color?: string;
    background?: string;
}

const { title, color = "azulon", background = "arena" } = Astro.props;
const textColor = `var(--${color})`;
const backgroundColor = `var(--${background})`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
      <Head color={color} background={background}/>
      <div class="wrapper">
      <main>
        <slot />
      </main>
      <Pie color={color} background={background}/>
      </div>
	</body>
</html>
<style is:global define:vars={{ textColor, backgroundColor}}>
	html {
      height: 100%;
	}
    body {
      height: 100%;
      margin: 0;
      color: var(--textColor);
      background-color: var(--backgroundColor);
    }
    a {
      color: var(--textColor);
      text-decoration: underline;
    }
     
    a:visited {
      color: var(--textColor);
      text-decoration: underline;
    }

    .wrapper {
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      justify-items: center;
      overflow: hidden;
    }
    main {
      width: var(--ancho);
    }

</style>
