---
import Pie from './Pie.astro'
import Head from './Head.astro'
import Menu from '../components/Menu.astro';
import Icono2 from '../components/logos/Icono2.astro';
import '../styles/colors.css'
import '../styles/comun.css'

interface Props {
	title: string;
    lang: string;
    name: string;
    color?: string;
    background?: string;
    logo?: boolean;
}

const { title, lang, name = "none", color = "azulon", background = "arena" } = Astro.props;
const otherLang = lang === 'en' ? 'Español' : 'English';
const textColor = `var(--${color})`;
const backgroundColor = `var(--${background})`;
const faviconUrl = `${import.meta.env.BASE_URL}favicon.svg`;
const base = import.meta.env.BASE_URL;
const langLink = lang === 'en' ? `${base}es/${name}` :  `${base}${name}`;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={faviconUrl} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-M99K1SV53Z"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-M99K1SV53Z');
    </script>
    <script is:inline id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="6b0dccc5-4a1c-49fa-a313-1c7b4bba6af7" data-blockingmode="auto" type="text/javascript"></script>
	</head>
	<body>
      <div class="wrapper">
        <div class="header-wrapper">
          <header>
            <slot name="icono"/>
            <div class="upper-bar">
              <div class="lang-button">
              <a href={langLink}>{otherLang}</a>
              </div>
              <slot name="menu"/>
            </div>
          <slot name="title"/>
          </header>
        </div>
        <main>
          <script id="CookieDeclaration" src="https://consent.cookiebot.com/6b0dccc5-4a1c-49fa-a313-1c7b4bba6af7/cd.js" type="text/javascript" async></script>
          <slot />
        </main>
      <Pie lang={lang} color={color} background={background}/>
      </div>
	</body>
</html>
<style define:vars={{ textColor, backgroundColor }}>
	html {
      height: 100%;
	}

    body {
      height: 100%;
      margin: 0;
      color: var(--textColor);
      background-color: var(--backgroundColor);
    }

    .wrapper {
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      justify-items: center;
    }

    .upper-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding-top: 0.5em;
    }

    .upper-bar a {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
      }

    .lang-button {
      padding-top: 1em;
      padding-left: 10px;
    }

.header-wrapper {
  width: 100%;
  padding-bottom: 1em;
  background-color: var(--arena-oscuro);
  border-bottom: 1px solid var(--gris-claro);
  font-size: 16px;
}

header {
  width: 900px;
  margin: 0 auto 2em auto;
}


@media (width > 900px) {
  main {
    width: 900px;
  }

  .icono {
    position: absolute;
    top: 60px;
    left:50px;
  }

  header {
    width: 900px;
  }
}

@media (600px <= width <= 900px) {
  main {
    width: 98%;
  }

  header {
    width: 100%;
  }
}

@media (300px <= width <= 600px) {
  main {
    width: 98%;
  }

  header {
    width: 100%;
    margin-botom: 0;
  }
}
</style>
