---
import Facebook from '../components/logos/Facebook.astro';
import Twitter from '../components/logos/Twitter.astro';
import Github from '../components/logos/Github.astro';
import Linkedin from '../components/logos/Linkedin.astro';

const { lang, color = "azulon", background = "arena" } = Astro.props;
const textColor = `var(--${color})`;
const backgroundColor = `var(--${background}-oscuro)`;
const base = import.meta.env.BASE_URL;

---
<footer id="pie" class="pergamino no-pie">
  <div class="footer-wrapper">
    <div class="links">
      <div class="links-title">
        {lang === "en" ? "Links" : "Enlaces"}
      </div>
      <div class="links-links">
        <ul>
          <li><a href="https://coimne.es/">Colegio de Ingenieros de Minas</a>
          <li><a href="https://llou.net">Página Personal</a>
          <li><a href={`${base}minax`}>Proyecto Minax</a>
          <li><a href={`${base}cookieconsent`}>Consentimiento de Cookies</a>
        </ul>
      </div>
    </div>
    <div class="address">
      <div class="address-title">{lang === "en" ? "Address" : "Dirección"}</div>
      
        Monforte Technologies<br>
    San Bernardo 14, Primero<br>
    33402 Avilés (Asturias)<br>
    España</div>
    <div class="contact">
      <div class="contact-title">
        {lang === "en" ? "Contact" : "Contacto"}
      </div>
      <div class="social-container">
        <div class="social"><a href="https://www.facebook.com/monforte.tech"><Facebook color={color} /></a></div>
        <div class="social"><a href="https://x.com/monforte_tech"><Twitter color={color}/></a></div>
        <div class="social"><a href="https://github.com/monforte-tech"><Github color={color} /></a></div>
        <div class="social"><a href="https://www.linkedin.com/company/monforte-tech/"><Linkedin color={color} /></a></div>
      </div>
      <div class="email"><a href="mailto:contacto@monforte.tech">contacto@monforte.tech</a></div>
    </div>
  </div>
 </footer>

<style define:vars={{ textColor, backgroundColor}}>
  footer {
    overflow: hidden;
    width: 100%;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    margin-top: 4em;
    padding-bottom: 2em;
    border-top: 1px solid var(--gris-claro);
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 900px;
    padding-top: 2em;
    margin: 0 auto;
  }

  .links {
    font-size: 16px;
    margin: 1em;
  }

  .links-title {
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 1em;
  }

  .links ul {
    list-style-position: inside;
    list-style-image: none;
    padding: 0;
    margin: 0 0 0 0;
  }

  .links li {
    list-style-position: inside;
    list-style: none;
    display: list-item;
    padding: 0 0 1em 0;
  }

  .links a {
    text-decoration: none;
    color: var(--textColor);
  }

  .links a:hover {
    text-decoration: underline;
  }

  .address {
    font-size: 16px;
    margin: 1em;
  }

  .address-title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 21px;
  }

  .contact {
    margin: 1em;

  }

  .contact-title {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 21px;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .email {
    font-size: 21px;
    font-weight: 600;
    color: var(--textColor);
    text-align: center;
  }

  .email a {
    color: var(--textColor);
  }

  @media (width > 900px) {
    .footer-wrapper {
      width: 900px;
    }
  }

  @media (width < 900px) {
    .footer-wrapper {
      width: 90%;
    }
  }
</style>
